

a {
  color: aliceblue;
  text-decoration: none;
}

footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  position: absolute;
}
.image-div {
  background-image: url("/images/faHome.jpg");
  background-size:100% 100%;
  background-repeat: no-repeat;
  height: 50vh;
  width: 65vh;
  border-radius: 100%;
}

.crypto-image{
  padding: 1rem;
  border-radius: 100%;
}

.crypto-body{
  text-align: center;
}

.crypto-card {
  width: 50%;
  text-align: center;
}
